<link rel="stylesheet" type="text/css" href="reset.css">

<style>

body {
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* divs below are from html assignment */

.logo-wrapper {
  background-color: #FDD3E4;
}

/*not sure if the nav-wrapper part will work because of space and formatting*/
.header-menu nav-wrapper {
  background-color: #b9c5c5;
}

.main-menu-dropdown {
  background-color: #CE8523;
}

</style>
